
nav a.icon{      /* в обычном режиме не отображается кнопка*/
	display: none;
}


*{
	margin: 0;
	padding: 0;
}


.Flex_justify{
 margin: 5px 260px 20px;
}
.mw-1001{
	display: none;
}

iframe{
	display: flex;
	
	margin: 5px 260px 20px;
}


.playable-buttons {
    text-align: right;
    width: 90%;
    max-width: 700px;
    padding: 5px 10px 5px 26px;
    font-size: 100%;
}

.cover{
	background:#CCC; 
	width:800px; 
	margin: 5px 260px 20px;
	padding-left:60px;
}

p.contact { 
	font-size: 24px; 
	margin-bottom: 15px; 
	line-height: 36px; 
	font-family: 'Montserrat', sans-serif;
	color: #4b4b4b; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
}

input {
    background-color: #ededed;
    background-image: none;
    
}

#contact {
	margin-bottom: 0px; 
}

input[type="text"] {
	width: 400px; 
}

textarea { 
	width: 600px; 
	height: 275px; 
}


.mw-1001{
	display: none;
}
label { 
	color: #2c5fa0; 
}

input, textarea { 
	background-color: rgba(255, 255, 255); 
	border: 5px solid rgba(2, 173, 255, 0.57); 
	padding: 10px; 
	font-family: 'Montserrat', sans-serif;
	color: #dedede; 
	font-size: 24px; 
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
	margin-top: -10px;
}

input:focus, textarea:focus { 
	border: 5px solid #FFCC00; 
	background-color: rgba(255, 255, 255, 1);
}

input[type="submit"] {
	
    outline: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #1f4c95 inset, 0 0 0 0 #FFFFCC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

input[type="submit"]:hover {
	color: #FFCC00;
    outline: none;
    transition: .4s ease-in-out;
    transform: translateY(-7px);
    cursor: pointer;
	);
}

input[type="submit"]:active { 
	top: 1px; 
}
textarea {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin: 5px 260px 20px;
    webkit-writing-mode: horizontal-tb !important;/*направление текста*/
    text-rendering: auto;/*браузер автоматически рендерит текст*/
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal; /*использовать отриц значение*/
    word-spacing: normal;		/*расстояние между словами*/
    text-transform: none;   /*регистр букв*/
    text-indent: 0px;
    text-shadow: none;
    display: Flex;
    text-align: start;
    webkit-appearance: textarea;/*для сафари браузера отображать элемент как поле текст*/
    background-color: #ebeff1;
    webkit-rtl-ordering: logical; /*определяет направление текста*/
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;
}



a{
	text-decoration: none;			/*стиль для ссылок*/

}

/* СТИЛЬ ДЛЯ ПАРАГРАФА*/
main >p{

margin: 15px 250px 20px;
text-align: justify;
color:#003559;

font-family: 'Montserrat', sans-serif;
font-size: 20px;      
font-weight: bold;

   
}
main >#Primer{							/*Стиль для примера*/
	margin: 15px 250px 20px;
text-align: justify;
color:#003559;

font-family: 'Montserrat', sans-serif;
font-size: 20px;      
font-weight: bold;
}

main >em{
	margin: 15px 250px 20px;
text-align: justify;
color:#003559;

font-family: 'Montserrat', sans-serif;
font-size: 20px;      
font-weight: bold;
}

main >h3{
	font-family: 'Montserrat', sans-serif;
	/*display: flex;*/
	margin: 5px 250px 20px;
	text-align:justify;
	color:#003559;
	font-weight: bold;
	font-size: 35px;
}

a>p{
	margin: 15px 250px 20px;
text-align: justify;
color:#003559;

font-family: 'Montserrat', sans-serif;
font-size: 20px;      
font-weight: bold;
}

img.conacts{
	width: 50px;
	margin: 5px 250px 10px;
}

img.Instagram{
	width: 70px;
	margin: 1px 240px 20px;
}

img.mail{
	width: 70px;
	margin: 5px 240px 10px;
}


main >ul>li{
	list-style-type:  disc;
	color:#003559;
}
.minimized {
  width: 30%;
  margin: 5px 260px 20px;
  cursor: pointer;
  border: 1px solid #FFF;
}
 
 .minimized1 {
    width: 15%;
    margin: 5px 230px 20px;
    cursor: pointer;
    border: 1px solid #FFF;
}

.minimized:hover {
  border: 2px solid #6633FF;
}


 .img4{
	  margin: 5px 260px 20px;
}

main >ul{
margin: 15px 300px 20px;
text-align: justify;
color:#003559;
list-style-type:square;
font-family: 'Montserrat', sans-serif;
font-size: 20px;      
font-weight: bold;

}


h3>h10{
	color: #003559;
	font-weight:bold;
	font-size: 35px;
	background-color: #ebeff1;
	border-radius: 5px;
	border-style: 
}

main > p > h10{

	color: #003559;
	font-weight:bold;
	font-size: 20px;
	background-color: #ebeff1;
	border-radius: 5px;
	border-style: 
}
ul> li> h10{
	color: #003559;
	font-weight:bold;
	font-size: 20px;
	background-color:#ebeff1;
	border-radius: 5px;
	border-style:

}
.mw-100{
	max-width: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
}

.logo1{
	display: none;
	
}

.graficlogo1{
	display: none;
}
.graficlogo{
	background: #1e4c96;
	text-align:center;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box; /* расчет границ(не залазиет граница на картинку)*/
}

* { 
box-sizing: border-box; 
}



body {
  margin: 0;
}

.advantages_item1{
display: none;
}

																			/*Выпадающее меню header*/
  background: radial-gradient(#BFD6E2 1px, rgba(255,255,255,0) 2px);
  background-size: 10px 10px;
}
nav{
	display: flex;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;

  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}


.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Montserrat', sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 15px;
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
}




.down:after {
  content: "\f107";
  margin-left: 8px;
  font-family: FontAwesome;
}
.topmenu li a:hover { 
	color: #FFCC00; }



.submenu {
	font-family: 'Montserrat', sans-serif;
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width:300px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}

.submenu2{
	font-family: 'Montserrat', sans-serif;
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width:300px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}



.Copyright{
	font-size: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}



.topmenu > li:hover .submenu2{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu2 li a {
	margin: 3%;
font-family: 'Montserrat', sans-serif;
font-weight:bold;									/*Жирный шрифт для выпадающего меню Вводная часть курса*/
  color: #003559;									
  font-size: 15px;
  line-height: 36px;
  padding: 0 ;
  
}
.submenu2 li a.hover{
	color: #FFCC00;
}

.logo{
	background: #1e4c96;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
	margin: 3%;
font-family: 'Montserrat', sans-serif;
font-weight:bold;									/*Жирный шрифт для выпадающего меню Вводная часть курса*/
  color: #003559;									
  font-size: 15px;
  line-height: 36px;
  padding: 0 ;
  
}
.submenu li a.hover{
	color: #FFCC00;
}

.advantages_container{
	display: flex;
	justify-content: center;
}

.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;   /*в одну строку или в столбец*/
}
.advantages_item{
	width: 30%;
}
.gl{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	justify-content: center;
}

footer{
	width: 100%;
	height: auto;
	background-color: #1e4c96;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	}
footer a{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	
	color: white;
	font-size: 14px;
	margin-left: 10px;
}

footer nav1 a:hover{
	color: #FFCC00;
	outline: none;
    transition: .4s ease-in-out;
}
.logofooter	{
	background-color: #1e4c96;
	width: 100%;
	display: flex;
	justify-content: center;
}



.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #FFCC00;
	border-radius: 50%;
	outline: none;
    transition: .4s ease-in-out;
}			

.logo1{
	display: none;
	
}

.graficlogo1{
	display: none;
}
.graficlogo{
	background: #1e4c96;
	text-align:center;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box; /* расчет границ(не залазиет граница на картинку)*/
}
.topmenu .icon{
	display: none;
}



@media screen and (min-device-width:500px) 
and (max-device-width: 900px) {			
/*and (min-device-width:320px) 
and (max-device-width: 568px){*/
.advantages{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
p{
	font-size: 200%;

	
}



ul{
	font-size: 150%;
}
.mw-100{
margin:3% auto 0 0;								/*отступ картинки в мобильной версии*/

}

	/*Выпадающее меню по картинке*/


/*конец стиля для выпадающего меню по картинке*/

	.advantages_item1{
		

	}



					/*изменение цвета меню при переходе в мобильную версию*/

footer{
	background-color: #793496;
} 
.logofooter{
	background-color: #793496;
}


.social{
	display: none;
}
.image_center{
object-fit: scale-down;
}

.advantages_item{
	display: none;
}

.advantages_item1{
	display:block;
	position: relative;
	left: 230px;

    
	width: 30%;

	/*text-align: center;*/



}
/* Убираем стандартный маркер details summary */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}
.logo{
	display: none;
}
.graficlogo{
	display: none;
}
.logo1{
	display: block;
}
.graficlogo1{
	display: block;
}

/*Изменение логотипа для мобильной версии*/
.logo1{
	background:#793496;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.graficlogo1{
	text-align:center;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box; /* расчет границ(не залазиет граница на картинку)*/
	background:#793496;
}

figure >img {
max-width: 90%;
}




/*иконка*/

.topmenu li:not(:first-child){
	display: none;
	}

nav a.menu{
	display: block;
	float: right;
	margin-top: -17px;
}

nav a.icon {

	display:block;
	position: absolute;
	left: 900px;
	font-size: 4em;
	color: #003559;
}
nav a{

	color: #003559;
	 font-family: 'Montserrat', sans-serif;
  	height: 60px;
  	font-size: 30px;
}


	

	.topmenu.responsive{
		position: relative;
	}
	.topmenu.responsive.icon{
		position: relative;
		right: 0;
		top: 0;
	}
	.topmenu.responsive ul{
		float: none;
		display: block;
		text-align:center; 
	}
nav ul {
  list-style: none;
  margin: 15px 10px 0 0 ;
  padding: 0;
}
.minimized {
    width: 50%;
    margin: 5px 230px 20px;
    cursor: pointer;
    border: 1px solid #FFF;
}

main>h3{
	font-size: 70px;
}


pre{
	display: flex;
	background-color:#ebeff1; 		/*Цвет под цвет гифок*/
	margin: auto;
	width: 600px;
	white-space: normal;
	font-size:40px;
	word-wrap: break-word;
	text-align: justify;
	font-weight: bold;
	border-style: solid;
	border-radius: 2%;
	border-color: #FFFFFF
}


h5{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	width: 500px;
	margin: 10px -100px 20px -100px;
}

h2{
margin: 10px -100px 20px -100px;	
}

h6{
	text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 500px;
    margin: auto;
}


h1{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	width: 500px;
margin: auto;
}

iframe{
	  margin: 5px 230px 20px;
	width: 75%;
}

.cover{
	max-width: 60%;
}

textarea{
	max-width: 80%;
}
.Flex_justify{
	margin: 5px 100px 20px;
}


.Copyright{
	font-size: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.mw-100{
	display: none;
}
.mw-1001{
	display: flex;
	max-width: 100%;
}
}



















															/*Стиль для мобильных устройств*/
@media screen and (min-device-width:320px) 
and (max-device-width: 568px) {			
/*and (min-device-width:320px) 
and (max-device-width: 568px){*/
.advantages{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
p{
	font-size: 200%;

	
}



ul{
	font-size: 150%;
}
.mw-100{
margin:3% auto 0 0;								/*отступ картинки в мобильной версии*/

}

	/*Выпадающее меню по картинке*/


/*конец стиля для выпадающего меню по картинке*/

	.advantages_item1{
		

	}



					/*изменение цвета меню при переходе в мобильную версию*/

footer{
	background-color: #793496;
} 
.logofooter{
	background-color: #793496;
}


.social{
	display: none;
}
.image_center{
object-fit: scale-down;
}

.advantages_item{
	display: none;
}

.advantages_item1{
	display:block;
	position: relative;
	left: 230px;

    
	width: 30%;

	/*text-align: center;*/



}
/* Убираем стандартный маркер details summary */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}
.logo{
	display: none;
}
.graficlogo{
	display: none;
}
.logo1{
	display: block;
}
.graficlogo1{
	display: block;
}

/*Изменение логотипа для мобильной версии*/
.logo1{
	background:#793496;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.graficlogo1{
	text-align:center;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box; /* расчет границ(не залазиет граница на картинку)*/
	background:#793496;
}

figure >img {
max-width: 90%;
}




/*иконка*/

.topmenu li:not(:first-child){
	display: none;
	}

nav a.menu{
	display: block;
	float: right;
	margin-top: -17px;
}

nav a.icon {

	display:block;
	position: absolute;
	left: 900px;
	font-size: 4em;
	color: #003559;
}
nav a{

	color: #003559;
	 font-family: 'Montserrat', sans-serif;
  	height: 60px;
  	font-size: 30px;
}


	

	.topmenu.responsive{
		position: relative;
	}
	.topmenu.responsive.icon{
		position: relative;
		right: 0;
		top: 0;
	}
	.topmenu.responsive ul{
		float: none;
		display: block;
		text-align:center; 
	}
nav ul {
  list-style: none;
  margin: 15px 10px 0 0 ;
  padding: 0;
}
.minimized {
    width: 50%;
    margin: 5px 230px 20px;
    cursor: pointer;
    border: 1px solid #FFF;
}

main>h3{
	font-size: 70px;
}


pre{
	display: flex;
	background-color:#ebeff1; 		/*Цвет под цвет гифок*/
	margin: auto;
	width: 600px;
	white-space: normal;
	font-size:40px;
	word-wrap: break-word;
	text-align: justify;
	font-weight: bold;
	border-style: solid;
	border-radius: 2%;
	border-color: #FFFFFF
}


h5{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	width: 500px;
	margin: 10px -100px 20px -100px;
}

h2{
margin: 10px -100px 20px -100px;	
}

h6{
	text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 500px;
    margin: auto;
}


h1{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	width: 500px;
margin: auto;
}

iframe{
	  margin: 5px 230px 20px;
	width: 75%;
}

.cover{
	max-width: 60%;
}

textarea{
	max-width: 80%;
}
.Flex_justify{
	margin: 5px 100px 20px;
}


.Copyright{
	font-size: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.mw-100{
	display: none;
}
.mw-1001{
	display: flex;
	max-width: 100%;
}
}